<mat-sidenav-container class="example-container">
	<mat-sidenav #sidenav opened mode="side">
		<mat-toolbar>
			<span><h2>FILTER</h2></span>
			<span> </span>
			<span class="space-filler"></span>
			<span>
				<button mat-icon-button>
					<mat-icon aria-label="Filter" class="material-icons" (click)="toggleButton(sidenav)">tune</mat-icon>
				</button>
			</span>
		</mat-toolbar>
		

		<mat-accordion displayMode="flat">
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						CITIES/MUNICIPALITIES
					</mat-panel-title>
				</mat-expansion-panel-header>
				There's nothing here yet.
			</mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						TALENT
					</mat-panel-title>
				</mat-expansion-panel-header>
				<span>Population</span>
				<div class="custom-slider">
					<ng5-slider [(value)]="populationValue" [(highValue)]="populationHighValue" [options]="options"></ng5-slider>
				</div>
				
				<span>Total Graduates</span>
				<div class="custom-slider">
					<ng5-slider [(value)]="totalgradValue" [(highValue)]="totalgradHighValue" [options]="options"></ng5-slider>
				</div>

				<span>No. of CoEs and CoDs</span>
				<div class="custom-slider">
					<ng5-slider [(value)]="coecodValue" [(highValue)]="coecodHighValue" [options]="options"></ng5-slider>
				</div>

				<span>Programming Talent</span>
				<div class="custom-slider">
					<ng5-slider [(value)]="progtalentValue" [(highValue)]="progtalentHighValue" [options]="options"></ng5-slider>
				</div>

				<span>Higher Education Institutions</span>
				<div class="custom-slider">
					<ng5-slider [(value)]="heiValue" [(highValue)]="heiHighValue" [options]="options"></ng5-slider>
				</div>

				<span>FTEs employed in IT-BPM</span>
				<div class="custom-slider">
					<ng5-slider [(value)]="fteValue" [(highValue)]="fteHighValue" [options]="options"></ng5-slider>
				</div>
				<div class="action-buttons">
					<button mat-flat-button color="primary" (click)="applyFilter()">FILTER</button>
					<button mat-flat-button (click)="reset()">RESET</button>
				</div>
			</mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						INFRASTRUCTURE
					</mat-panel-title>
				</mat-expansion-panel-header>
				There's nothing here yet.
			</mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						TOP 10 CITIES
					</mat-panel-title>
				</mat-expansion-panel-header>
				There's nothing here yet.
			</mat-expansion-panel>
		</mat-accordion>
	</mat-sidenav>

	<mat-sidenav #rightnav closed mode="side" position="end" class="rightnav">
		<mat-toolbar>
			<span><h2>PROVINCE OF {{ name }}</h2></span>
			<span> </span>
			<span class="space-filler"></span>
			<span>
				<button mat-icon-button>
					<mat-icon aria-label="Close" class="material-icons" (click)="rightnav.toggle()">close</mat-icon>
				</button>
			</span>
		</mat-toolbar>

		<div style="margin: 25px;">
			<owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
			    <div class="item" *ngFor="let image of images">
			      <img class="slide-image" src="{{image}}" >
			      <div class="slide-text">
			        <h4>{{image.text}}</h4>
			      </div>
			    </div>
			  </owl-carousel>
		</div>
		

		<!-- <img [src]="image" width="100%"> -->
		<p>
			{{ description }}
		</p>

		<div class="details">
			<img src="assets/talent.png">
			<img src="assets/infra.png">
		</div>
	</mat-sidenav>

	<div style="display:flex;">
		<div class="list-provinces">
			<mat-toolbar>
				<button mat-icon-button *ngIf="showToggle">
					<mat-icon aria-label="Filter" class="material-icons" (click)="toggleButton(sidenav)">tune</mat-icon>
				</button>
				<span><h2>PROVINCE</h2></span>
			</mat-toolbar>
			<mat-list dense>
				<mat-list-item *ngFor="let data of finalData"> 
					<div class="province-id" [style.background-color]="data.color">{{data.id}}</div> 
					<button mat-button [matTooltip]="data.name" matTooltipPosition="right"(click)="getProvince(data, rightnav)">{{data.key}}</button>
				</mat-list-item>
			</mat-list>
		</div>
		<img width="70%" style="padding:25px 0;" src="../assets/ph-map.svg">
	</div>
</mat-sidenav-container>
