<mat-sidenav-container class="example-container">
	<mat-sidenav #sidenav opened mode="side">
		<mat-toolbar>
			<span><h2>FILTER</h2></span>
			<span> </span>
			<span class="space-filler"></span>
			<span>
				<button mat-icon-button>
					<mat-icon aria-label="Filter" class="material-icons" (click)="toggleButton(sidenav)">tune</mat-icon>
				</button>
			</span>
		</mat-toolbar>
		

		<mat-accordion displayMode="flat">
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						CITIES/MUNICIPALITIES
					</mat-panel-title>
				</mat-expansion-panel-header>
				There's nothing here yet.
			</mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						TALENT
					</mat-panel-title>
				</mat-expansion-panel-header>
				<p>Population</p>
				<div class="custom-slider">
					<ng5-slider [(value)]="populationValue" [(highValue)]="populationHighValue" [options]="options"></ng5-slider>
				</div>
				
				<p>Total Graduates</p>
				<div class="custom-slider">
					<ng5-slider [(value)]="totalgradValue" [(highValue)]="totalgradHighValue" [options]="options"></ng5-slider>
				</div>

				<p>No. of CoEs and CoDs</p>
				<div class="custom-slider">
					<ng5-slider [(value)]="coecodValue" [(highValue)]="coecodHighValue" [options]="options"></ng5-slider>
				</div>

				<p>Programming Talent</p>
				<div class="custom-slider">
					<ng5-slider [(value)]="progtalentValue" [(highValue)]="progtalentHighValue" [options]="options"></ng5-slider>
				</div>

				<p>Higher Education Institutions</p>
				<div class="custom-slider">
					<ng5-slider [(value)]="heiValue" [(highValue)]="heiHighValue" [options]="options"></ng5-slider>
				</div>

				<p>FTEs employed in IT-BPM</p>
				<div class="custom-slider">
					<ng5-slider [(value)]="fteValue" [(highValue)]="fteHighValue" [options]="options"></ng5-slider>
				</div>
				<div style="text-align:center">
					<button mat-flat-button color="primary" (click)="applyFilter()">FILTER</button>
					<button mat-flat-button (click)="reset()">RESET</button>
				</div>
			</mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						INFRASTRUCTURE
					</mat-panel-title>
				</mat-expansion-panel-header>
				There's nothing here yet.
			</mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						TOP 10 CITIES
					</mat-panel-title>
				</mat-expansion-panel-header>
				There's nothing here yet.
			</mat-expansion-panel>
		</mat-accordion>
	</mat-sidenav>

	<mat-sidenav #rightnav closed mode="side" position="end" class="rightnav">
		<mat-toolbar>
			<span><h2>PROVINCE OF {{ name }}</h2></span>
			<span> </span>
			<span class="space-filler"></span>
			<span>
				<button mat-icon-button>
					<mat-icon aria-label="Close" class="material-icons" (click)="rightnav.toggle()">close</mat-icon>
				</button>
			</span>
		</mat-toolbar>

		<p>
			{{ description }}
		</p>
	</mat-sidenav>

	<div class="toggle-container" *ngIf="showToggle">
		<button mat-icon-button>
			<mat-icon aria-label="Filter" class="material-icons" (click)="toggleButton(sidenav)">tune</mat-icon>
		</button>
	</div>


	<div style="display:flex;">
		<div class="list-provinces">
			<mat-list>
				<mat-list-item *ngFor="let data of finalData"> 
					<span class="province-id">{{data.id}}</span> 
					<button mat-button [matTooltip]="data.name" matTooltipPosition="right"(click)="getProvince(data, rightnav)">{{data.key}}</button>
				</mat-list-item>
			</mat-list>
		</div>
		<img width="70%" style="padding:25px 0;" src="../assets/ph-map.svg">
	</div>
</mat-sidenav-container>
